         *{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    
    
}

.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.add-first{
   color: #cccccc; 
   font-size: 0.85rem;
   margin-left: 15px;
   
}

.add-second{
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    align-items: center;
    align-content: space-evenly;
    width: 575px;
    height: 35px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    text-align: center;
    height: 32px;
    border: none;
}
.search-select:hover{
    border-color: rgb(235, 146, 12);
}

.search-input{
    width: 510px;
    height: 30px;
    font-size: 1rem;
    border: none;
    
 }

 .search-icon{
    width: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
    background-color: rgb(236, 181, 60);
    height: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:black;
 }

 .usa-logo{
    display: flex;
    align-items: center;
    align-content: center;
   
    
 }
 .lang{
    color:white;
    background-color: #0f1111;
    border: none;
    text-align: center;
    
 }

  span{
    font-size: 0.8rem;
 }

 .nav-second{
    font-size: 0.85rem;
    font-weight: 700;
 }

 .return{
    font-size: 0.8rem;
 }

 .nav-cart i{
     font-size: 30px;
 }

 .nav-cart{
    font-size: 14px;
    font-weight: 700;
 }

 .panel-all{
    color: aliceblue;
 }

 .panel{
    height: 40px;
    background-color: #222f3d   ;
    color: aliceblue;
   display: flex;
   justify-content: space-around;
   align-items: center;

 }

.p-option p{
    display: inline;
    margin-left: 25px;
   
}

.p-option{
    width: 70%;
    font-size: 0.85rem;
    
    
}

.panel-deals{
    font-weight: 700px;
    font-size:0.89rem ;
}

.main{
    background-image:url(hero_image.jpg) ;
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg{
    background-color: aliceblue;
    color: black;
    text-align: center;
    height: 40px;
     display: flex;
    justify-content: center;
    align-items: center; *
   font-size: 0.85rem;
   width: 80%;
   margin-bottom: 25px;
}

.hero-msg a{
text-decoration: none;
color: #007185;
}

.box{
    height: 410px;
    border: 2px solid rgb(20, 20, 20);
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
    
    
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.img{
    height:350px ; 
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 10px;
    
    
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}
 
footer{
    margin-top: 15px;
}

.foot-panel1{
    height: 50px;
    background-color: #37475a;
    font-weight: 0.85rem;
    color:white;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 20px;
    color: #dddddd;
}

ul{
    margin-top: 20px;
}

ul p{
    font-weight: bold;
}

.foot-panel3{
    color: white;
    background-color: #222f3d;
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.logo {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.9rem;
    }

    .pages{
        padding-top: 20px;
        text-align: center;
    }

    .copyright{
           padding-top: 5px;
    }

 

    @media(max-width:990px){
        header,main,footer{
            width: 1200px;   
            height: 100%vh;
        }
    }

    